# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Visual Studio
*.vc
*.vcxproj.user
*.VC.db
*.VC.VC.opendb

# Excess project
GenGein/Examples/

# Internal
GenGein/.vs/
GenGein/_Bin/
GenGein/GenGein/Logs/
GenGein/GenGein/Intermediate/
GenGein/GenGein/Middleware/

# External resources
GenGein/_Resources/Object/
GenGein/_Resources/Textures/